.fond_bleu{
	background-color: #2874a6;
	color: white;
}
#photo{
	width: 175px;
	height: 175px;
	float: right;
	margin-right: 5%;
	padding: 35px 35px 0px 20px;
	/*background-color: #2874a6;*/
}	
header h1{
	text-align: center;
	font-size: 3em;
}
header{
	padding:  1px 0px;
}
nav{
	padding: 1px 50px;
}
nav p{
	font-size: 14px;
}
section {
	padding: 0px 0px 30px 20px;
	
	margin-right:20%;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%; 
}
aside{
	max-width: 20%;
	background-color: #ebf5fb;
	padding: 20px 10px 20px 10px;
	float: right;
}
footer{
	position:absolute;
	top:168%;
	bottom: 0;
	width: 100%;
	padding-top:50px;	
}
footer p {
	text-align: center;
	font-size: 2em;
}
h3 {
font-size: 25px;	
}
#gris{
	background: grey;
}
.gras{
    font-weight: bold;
    color: red;
}
#box{
width: 330px; 
height:128px; 
background: #2874a6 ;
border:50px;
float:right ;
}
#moitier{
width: 750px;
background:grey;
}
#ligne{
width: 750px;
float: left;	
}