header h1{
padding:  20px 0px;
text-align: center;
font-size: 3em;
color: white;
}

header{
background-color: #2874a6;
}

nav{
background-color: #2874a6;
padding: 10px 50px;
font-size: 14px;
color: white;
}

section{
padding: 30px 20px 30px 20px;	
}
aside{
max-width: 20%;
background-color: #ebf5fb;
padding: 20px 10px 20px 10px;
float: right;

}
nav{
background-color: #2874a6;
padding: 10px 50px;
font-size: 14px;
color: white;
}
footer{
background-color: #2874a6;
padding:  20px 0px 20px 0px;
}
footer p {
text-align: center;
font-size: 14px;
color: white;
}